/* position */

* {box-sizing: border-box;} 

:root {
    --HFColor: #26292e;
    --IconColor: black;
    --Sect1BColor: #e7718b;
    --text:  #596573;
    --ButtonColor1: #2a2c2b;
    --ButtonColor2: #4f5150; 
    --ButtonColorOutline: #8b8a88;
    --LogoFont: 'Butterfly Kids', cursive;
    --TextFont: 'Open Sans Condensed', sans-serif; 
    
}

/* icons */

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}  

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
    font-size: 32px;
    color: red;
}
========================================== */

.icon-bubbles2 {
    width: 1.25em; 
}


.header a, .footer a {
    padding: 12px; 
    background-color: white;
    border-radius: 50%;
}

.icon-facebook, .icon-twitter, .icon-rss {
    color: var(--IconColor);
    font-size: 20px;
}

/* close icons */


/* generic */


body {
    margin: 0;
    padding: 0;  
}

.inner {
    width: 96%;
    margin: 0 auto;
}

/* header */

.header, .footer {
    margin: 0;
    padding: 0; 
    background-color: var(--HFColor);
    /* border: 1px solid red;  */
}

.header .inner {
    padding-bottom: 8px;
    position: relative;
}

.logo {
    color: white;
    font-family: var(--LogoFont);
    font-size: 55px;
    text-transform: capitalize;
    margin: 0;
    /* border: 1px solid red; */
}

.so-list-item {
    display: inline;
}

.top-nav {
    position: absolute;
    top:0;
    right:0;
    /* border: 1px solid red; */
}

.sr-only {
    display: none;
}

/* close header */

/* main  */
.main .inner {
    position: relative;
    font-family: var(--TextFont);
}

.sub-header1 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: bold;
    /* border: 1px solid red;  */
}

/* Could have also given section1.inner, section2.inner, section3.inner position: relative */

.section1 {
    height: 22vh;
    color: white;
    font-size: 15px;
    padding-bottom: 300px;
    background-color: var(--Sect1BColor);
    font-family: var(--TextFont);
    /* border: 1px solid orange;  */
    /* border: 1px solid red; */
}

.button {
    border-radius: 8px;
    margin-right: 20px; 
    padding: 10px;
    line-height: 1;
    text-transform: capitalize; 
    color: white;
    font-family: var(--TextFont);
    background: linear-gradient(#8b8a88, #4f5150, #2a2c2b);
}

.block1 {
     width: 45%; 
}

.block1-text {
    width: 70%;
    /* border: 1px solid red; */
}

.landing-img {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 100px;
    width: 470px; 
    height: auto;
     
}
.section2 {
    font-size: 14px;
    padding-top: 25px;
    color: var(--text);
    background-color: #f4f4f6;
    border-bottom: 12px solid #f7e4e8;
    height: 30vh;
    /* border: 1px solid red; */
}

.sub-header-section2 {
    font-size: 20px;
    color: var(--IconColor);
}

.block3 {
    position: absolute;
    top: 0;
     left: 0; 
     width: 32%;
}

.block4 {
    position: absolute;
    top: 0;
    left: calc(100% / 3); 
    width: 32%;
}

.block5 {
    position: absolute;
    top: 0;
    right: 0;
    width: 32%;
} 

.section3 {
    height: 55vh;
    /* border: 1px solid red; */
}

 .products {
    position: relative;
    height: 40vh;
    width: 35%; 
    /* border: 1px solid red; */
} 

.product:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;  
    width: 200px;
    height: 120px; 
    background: var(--ButtonColor2);
    border: 10px solid lightgray;
    box-shadow: 0 6px 8px -4px;
}
 
.product:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 120px; 
    background: var(--ButtonColor2);
    border: 10px solid lightgray;
    box-shadow: 0 6px 8px -4px;
} 

.product:nth-child(3) {
    position: absolute;
    bottom:0;
    left: 0;
    width: 200px;
    height: 120px; 
    background: var(--ButtonColor2);
    border: 10px solid lightgray;
    box-shadow: 0 6px 8px -4px;
}  

 .product:nth-child(4){
    position: absolute;
    bottom: 0;
    right: 0 ;
    width: 200px;
    height: 120px; 
    background: var(--ButtonColor2);
    border: 10px solid lightgray;
    box-shadow: 0 6px 8px -4px;
} 

.icon-search {
    color: white;
    display: block;
    margin: 15% auto;
    font-size: 35px;
}

.sub-header-section3 {
    margin-left: 5px;
}

.aside {
    position: absolute;
    top:0;
    right:0;
    width:25%;
    height: 45vh;
    font-size: 15px;
    margin-right: 100px;
    margin-top: -20px;
    /* border: 1px solid red;  */
}

.aside-text {
    margin-bottom: 30px; 
}

.bold {
   font-weight: bold;
}

/* close main */

/* footer */

.footer {
    height: 8vh; 
    border: 1px solid pink;
}

.footer .inner {
    position: relative;
        /* border: 1px solid red; */
}
.footer-nav {
    position: absolute;
    bottom:0;
    right:0;
    width: 25%;
    /* border: 1px solid red; */
}

.colophon {
    color: white;
    margin-top: 30px;
    width: 40%;
    font-size: 12px;
    /* border: 1px solid red; */
}

/* close footer */





